Show page for comment: <%= Comment.find(params[:id]).body %><br>
<br>
<form action="<%= comments_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="link_comment">Reply to this comment</label>
  <input type="text" id="link_comment" name="comment[body]">
  <input type="hidden" name="comment[parent_id]" value="<%= params[:id] %>">
  <input type="hidden" name="comment[link_id]" value="<%= Comment.find(params[:id]).link_id %>">
  <input type="submit" value="leave comment">
</form>