<form action="<%= users_url %>" method="POST">
  <input type= "hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type=text name="user[email]">Email<br>
  <input type=password name="user[password]">Password<br>

  <input type="submit" value="log in">

</form>