
<ul>
  <% @comments_by_parent_id[key].each do |comment|%>
    <li><%= link_to comment.body, comment %> </li>
    <% if !!@comments_by_parent_id[comment.id] %>
      <%= render '/links/comments', key: comment.id %>
    <% end %>
  <% end %>
</ul>