<form action="<%= links_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="link_url">Url:</label>
  <input type="text" id="link_url" name="link[url]"><br>
  <label for="link_title">Title:</label>
  <input type="text" id="link_title" name="link[title]"><br>
  <label for="link_description">Description:</label>
  <input type="text" id="link_description" name="link[description]"><br>
  <% @subs.each do |sub| %>
  <input type="checkbox" name="sub_id[]" value="<%= sub.id %>"><%= sub.name %><br>
  <% end %>
  <label for="link_comment">Comment On Your Post First:</label>
  <input type="text" id="link_comment" name="comment[body]">

  <input type="submit" value="Create Link!">
</form>