Links Show Page for: <%= @link.url %><br>
Upvotes:<%= UserVote.find_all_by_link_id_and_vote(@link.id, 1).length %><br>
Downvotes:<%= UserVote.find_all_by_link_id_and_vote(@link.id, -1).length %><br>
<% if !UserVote.find_by_link_id_and_user_id(@link.id, current_user.id) %>
  <%= button_to("UPVOTE!!!", link_upvote_url(@link.id), method: :post)%>
  <%= button_to("DOWNVOTE!!!", link_downvote_url(@link.id), method: :post)%>
<% end %>

<%= render '/links/comments', key: nil %>


