In the new subs view!

<form action="<%= subs_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="sub_name">Name</label>
  <input type="text" name="sub[name]" id="sub_name">
  <br>
  <input type="submit" value="Create Sub">
</form>